:root {
  --uchu-gray: oklch(95.57% 0.003 286.35);
  --uchu-gray-9: oklch(56.82% 0.004 247.89);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--uchu-gray);
  background-image: url("blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#resultado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 1rem;
  overflow: visible;
  border-radius: 10%;
  background-color: white;
  box-shadow: 0 2px 4px var(--uchu-gray-9);
}

#buscador {
  width: 300px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 20px;
  border: 2px solid var(--uchu-gray);
  outline: none;
  box-shadow: 0 2px 4px var(--uchu-gray-9);
  padding: 8px 12px;
  border-radius: 4px;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.imagen-bandera {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-top: -35%;
  border: solid 2px var(--uchu-gray);
  box-sizing: border-box;
}
